@media (max-width:1440px ) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
  #header{
    .navbar{
      justify-content: center;
    }
  }
#hero{
  .hero{
    width: 90%;
  }
}
  #block{
    .block{
      flex-direction: column-reverse;
      &--title{
        &__text{
          padding-top: 30px;
        }

      }
    }
  }
  #cook{
    .cook{
      flex-direction: column;
      &--group{
        &__icon{
          display: none;
        }
        &__icon1{
          display: none;
        }
        &__icon2{
          display: none;
        }
        &__icon3{
          display: none;
        }
        &__icon4{
          display: none;
        }

      }

    }
  }
  #footer{
    .footer{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: start;
    }
  }
}
@media (max-width: 992px) {
  #footer{
    .footer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 768px) {
  #hero{
    .hero{
      h1,p{
        width: 90%;
      }
    }
  }

}
@media (max-width: 576px) {
#block{
  .block{
    &--squore{

      &__one{
        width: 90%;
        //margin-bottom: 20px ;
      }
    }
    &--title{
      &__text{
        width: 90%;
        align-items: center;
      }
    }
  }
  #header{
    .navbar{
      &--nav{
        display: none;
      }
      &--menu{
        display: block;
      }

    }
  }
}
}
